@import "../../shared/constants/colors.scss";
@import "../../shared/constants/themes.scss";

.auth-page {
  height: 100%;
  display: flex;
  justify-content: space-around;

  .auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: max-content;
  }
  .auth-button {
    display: flex;
    gap: 1ch;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
  }
  .sign-out-button {
    display: flex;
    gap: 1ch;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
  }
  .profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
  }
}
