$theme-color-main: #3390ff;

$bg-light: #fff;
$text-light: #222;
$bg-dark: #222;
$text-dark: #8090bc;

$yellow-text: orange;
$yellow-bg: lightyellow;
$red-text: red;
$red-bg: #fff3f7;
$green-text: darkgreen;
$green-bg: honeydew;

//https://mycolor.space/?hex=%233390FF&sub=1 color space
