@use '../../shared/constants/colors.scss';
.mainpage-cards-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: space-between;

  .mainpage-card {
    flex: 1 1 200px;
    box-shadow: 1px 1px 3px lightgray;
    padding: 1rem;
    overflow: hidden;

    h3 {
      margin: 0;
    }

    .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      overflow: hidden;
      // img {
      //   width: auto;
      // }
    }
  }

  .mainpage-card:is(:focus, :hover) {
    box-shadow: 1px 1px 3px colors.$bg-dark;
    transition-duration: 0.25s;
  }
}
