@import "../../constants/colors.scss";
@import "../../constants/themes.scss";
$nav-bg-light: #fff;
$nav-text-light: #222;
$nav-bg-dark: #222;
$nav-text-dark: #999;
$button-bg-dark: #444;

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  box-shadow: 0 1px 3px rgba(153, 153, 153, 0.5);

  h3 {
    margin: 0.5rem 0;
  }
  a {
    text-decoration: none;
    padding: 0.25rem 0.5ch;
    svg {
      margin-left: 0.5rem;
    }
  }
  .a-styled {
    padding: 0.25rem 1ch;
  }

  button:focus {
    outline: none;
  }

  .nav-link,
  .nav-link:visited {
    box-sizing: border-box;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
      outline: none;
      filter: brightness(0.8);
      box-shadow: inset 0 -2px $theme-color-main;
      background-color: rgba(0, 0, 0, 0);
    }
  }
  .nav-link-active {
    font-weight: 500;
  }

  #mobileMenu {
    display: none;
  }
}

.nav {
  &-light {
    background-color: $bg-light;
    color: $text-light;
    a,
    a:visited {
      background-color: white;
      color: $text-light;
    }
    button {
      background-color: white;
      color: $text-light;
    }
  }
  &-dark {
    background-color: $bg-dark;
    color: $text-dark;
    a,
    a:visited {
      background-color: $bg-dark;
      color: $text-dark;
    }
    button {
      background-color: $button-bg-dark;
      color: $text-dark;
    }
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &-right {
    display: flex;
    gap: 0.5rem;
  }
}

@media (hover: none), (max-width: $mobile-desktop-breakpoint) {
  nav {
    .nav-left {
      .nav-link {
        display: none;
      }
    }
    .nav-right {
      display: none;
    }
    #mobileMenu {
      display: block;
    }
  }
}

// mobile menu component
#mobileMenu {
  background-color: inherit;
}
#mobileMenuBody {
  position: absolute;
  top: 3.125rem;
  right: 2px;

  box-shadow: 0 1px 3px rgba(153, 153, 153, 0.5);
  display: flex;
  flex-direction: column;
  background-color: inherit;

  a {
    padding: 0.8rem 1.6rem;
    margin-bottom: 2px;
    svg {
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }
}
