@use '../../constants/colors.scss';

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  .spinner-container {
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-arc {
      animation: spin 2s linear infinite;
      height: 4rem;
      width: 4rem;
      border-width: 0.5rem;
      border-radius: 4rem;
      border-color: colors.$theme-color-main transparent;
      border-style: solid;
      border-collapse: collapse;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
