@import "../src/shared/constants/themes.scss";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  @include theme-aware("background-color", "color-bg");
  @include theme-aware("color", "color-text");
}

// override scroll bar
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
